<%- include('../partials/boilerplate') %> 
    <div class="container content">
        <h1 class="mb-4">Articles</h1>
        <a href="/articles/new" class="btn btn-success">New Article</a>

        <% articles.forEach(article => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= article.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                        <%= article.description %>
                    </div>
                    <a href="/articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                    <a href="/articles/edit/<%= article.slug %>" class="btn btn-info">Edit</a>
                    <%# implementation of method-override %> 
                    <%# overrides the given "POST"-Method with "DELETE" %> 
                    <%# using an anchor-tag for deletes is bad-practice %> 
                    <%# because web-crawlers could "click" through all links on the site and %> 
                    <%# inadvertently delete the entire database... das not gud -_- %> 
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }); %>
    </div>
<%- include('../partials/footer') %> 