<%- include('../partials/boilerplate') %> 
    <div class="container">
        <h1 class="mb-4"><%= article.title %> </h1>
        <div class="text-muted mb-2">
            <%= article.createdAt.toLocaleDateString()%>
        </div>
        <div class="menu mb-4">
            <a href="/articles/edit/<%= article.slug %>" class="btn btn-secondary">Bearbeiten</a>
        </div>
        <div class="mdPreview">
            <%- article.sanitizedHtml %> 
        </div> 
    </div>
<%- include('../partials/footer') %> 